
.Title {
    line-height:1.5em;
  }
  .Title h3{
    text-align:left;
    padding-left: 20px;
    margin-top: 25px;
    font-size: 60px;
  }
  .events-control {
    padding-top: 60px;
    padding-left: 53px;
    margin: 0 auto;
    width: 30rem;
    max-width: 80%;
    font-size:20px;
  }
  .Title .btn {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    background-color: #eec3ad;
    color: white;
    
  }
  .icon {
    font-size: 30px;
    padding-top: 10px;
    margin-left: 5px;
  }
  .Title .events__list {
    list-style: none;
    padding-left: 55px;
    
  }
  
  .events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
  }
  .container {
    container-type: inline-size;
    width: 100%;
    max-width: 750px;
    margin: 5 auto;
    border-style: inset;
  }
  .description {
    display: none;
  }
  .card {
    text-align: center;
    padding: 0.5rem;
  }
  
  @container (min-width: 350px) {
    .card {
      display: grid;
      grid-template-columns: 40% 1fr;
      align-items: center;
      gap: 1rem;
      text-align: left;
    }
  }
  @container (min-width: 500px) {
    .description {
      display: block;
    }
  }